header {
  background-color: #f5b3df;
  color: white;
  font-family: cursive;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  font-size: 30px;
}

body {
   background-color: #f3d5e9;
   color: rgb(99, 69, 131);
   font-family: cursive;
}

h3 {
  font-size: 25px;
}

.links {
  font-size: 20px;
}

button {
  height: 40px;
  background-color: #f3d5e9;
  border-color: white;
}

button:hover {
  background-color: white;
}

h1 {
  background-color: #f5b3df;
  padding: 20px;
}