header {
  background-color: #f5b3df;
  color: white;
  font-family: cursive;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  font-size: 30px;
}

h1 {
  background-color: #f5b3df;
  padding: 20px;
}

h3 {
  font-size: 25px;
}

body {
   background-color: #f3d5e9;
   color: rgb(99, 69, 131);
   font-family: cursive;
   margin: 0px;
}

.links {
  font-size: 20px;
}

button {
  height: 40px;
  background-color: #f3d5e9;
  border-color: white;
  border-radius: 6px;
}

button:hover {
  background-color: white;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.text {
  margin: 20px;
}